################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleHttpServer/obj/x86/Debug
/.vs/SimpleHttpServer/v14
/.vs/